<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lidar_gazebo_macro" >

  <!--<xacro:include filename="$(find rl_fra2mo_description)/urdf/utility_macro.xacro" />-->

  <xacro:macro name="lidar_gazebo_sensor" params="parent">

    <link name="laser_frame">
      <inertial>
        <origin xyz="0 0 0" />
        <mass value="0.1" />
        <xacro:cylinder_inertia m="0.1" r="0.037" h="0.04" />
      </inertial>
      <visual>
        <origin rpy="0 0 ${-M_PI_2}" xyz="0.0 0.0 -0.031" />
        <geometry>
          <mesh filename="file://$(find rl_fra2mo_description)/meshes/lidar.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="White" />
      </visual>
      <collision>
        <origin xyz="0.0 0.0 -0.031" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.04" radius="0.037" />
        </geometry>
      </collision>
      <gazebo>
      <sensor type="gpu_lidar" name="gpu_lidar">
        <update_rate>40</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.1</min>
            <max>10.0</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <always_on>1</always_on>
        <visualize>true</visualize>
      </sensor>
      </gazebo>
    </link>

    <joint name="laser_joint" type="fixed">
      <parent link="${parent}" />
      <child link="laser_frame" />
      <origin rpy="0 0 0" xyz="0.0 0.0 0.031" />
    </joint>

  </xacro:macro>
</robot>

